<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,user-scalable=no" name="viewport" />
<meta name="viewport"  
      content="  
        height = [pixel_value | device-height] ,  
        width = [pixel_value | device-width ] ,  
        initial-scale = 0.5,  
        minimum-scale = float_value ,  
         
        user-scalable = yes ,  
      "  
        
    />   
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no" name="viewport"/>
<!-- Mobile Devices Support @begin -->
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type"/>
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control"/>
<meta content="no-cache" http-equiv="pragma"/>
<meta content="0" http-equiv="expires"/>
<meta content="telephone=no, address=no" name="format-detection"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />    

<title>报名参展</title>


<link href="../css/exhibition.css" type="text/css" rel="stylesheet" />
<link href="../css/enroll.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="js/a.js" language="javascript" async="async"></script>
<script type="text/javascript">

</script>
</head>


<body>
<div><!--logo--><img src="../img/a.gif" /></div>
<div class="block"></div>
<div class="title_info">
    <hr/>
    <div class="ex_info_title">报名参展<span>Exhibitors</span></div>
    <hr/>
</div>  

<!--  正文  -->
<div class="up"></div>

<form method="post">
	<table>
    	<tr>
			<td width="35%" align="right">
            	<span class="IndividualInfo">姓名</span>
            </td>
            <td width="65%">
            	<input type="text" value="请输入您的姓名" id="name" onfocus="if(this.value == this.defaultValue) {this.value = '';this.className='aaa'}" onblur="if(this.value == ''){ this.value = this.defaultValue; this.className='bbb'}" class="def" />
            </td>
        </tr>
        <tr>
		    <td align="right">
            	<span class="IndividualInfo">公司</span>
            </td>
            <td>
            	<input type="text" value="请输入您的公司名称" id="name" onfocus="if(this.value == this.defaultValue) {this.value = '';this.className='aaa'}" onblur="if(this.value == ''){ this.value = this.defaultValue; this.className='bbb'}" class="def" />
            </td>
        </tr>
        <tr>
		    <td align="right">
            	<span class="IndividualInfo">职位</span>
            </td>
            <td>
            	<input type="text" value="请输入您的职位" id="name" onfocus="if(this.value == this.defaultValue) {this.value = '';this.className='aaa'}" onblur="if(this.value == ''){ this.value = this.defaultValue; this.className='bbb'}" class="def" />
            </td>
      </tr>
        <tr>
    		<td align="right">
            	<span class="IndividualInfo">手机</span>
            </td>
            <td>
            	<input type="text" value="请输入您的手机号码" id="name" onfocus="if(this.value == this.defaultValue) {this.value = '';this.className='aaa'}" onblur="if(this.value == ''){ this.value = this.defaultValue; this.className='bbb'}" class="def" />
            </td>
      </tr>
        <tr>
		    <td align="right">
            	<span class="IndividualInfo2">电子邮箱</span>
            </td>
            <td>
            	<input type="text" value="请输入您的电子邮箱" id="name" onfocus="if(this.value == this.defaultValue) {this.value = '';this.className='aaa'}" onblur="if(this.value == ''){ this.value = this.defaultValue; this.className='bbb'}" class="def" />
            </td>
      </tr>
        <tr>
		    <td align="right">
            	<span class="IndividualInfo2">展位类型</span>
            </td>
          <td><span><input type="radio" name="radio" id="ex_kind" value="standard" class="radio" /></span>标准展位</td>
      </tr>
         <tr>
         <td></td>
          <td>
            	<span><input type="radio" name="radio" id="ex_kind" value="public" class="radio" /></span>广场
                <input type="text" value="0" id="" style="width: 5em;" />m<sup>2</sup>
            </td>
         </tr>
        <tr>
		    <td align="right"><span class="IndividualInfo">企业类型</span></td>
			<td><span><input type="radio" name="radio" id="kind" value="sh" class="radio" /></span>生产企业
            	<span><input type="radio" name="radio" id="kind" value="dai" class="radio" /></span>代理企业
            </td>
        </tr>
        <tr>
        <td></td>
            <td><span><input type="radio" name="radio" id="kind" value="qi" class="radio" /></span>其他<input type="text" value="" id="" style="width: 8em;" /></td>
        </tr>
        <tr>
    		<td colspan="4" align="center" style="text-align: center;"><input type="submit" value="提交" class="sub" /></td>
        </tr>
   </table>

</form>
<div class="block"></div>
</body>
</html>
