<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,user-scalable=no" name="viewport" />
<meta name="viewport"  
      content="  
        height = [pixel_value | device-height] ,  
        width = [pixel_value | device-width ] ,  
        initial-scale = 0.5,  
        minimum-scale = float_value ,  
          
        user-scalable = yes ,  
      "  
        
    />   
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no" name="viewport"/>
<!-- Mobile Devices Support @begin -->
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type"/>
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control"/>
<meta content="no-cache" http-equiv="pragma"/>
<meta content="0" http-equiv="expires"/>
<meta content="telephone=no, address=no" name="format-detection"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />    
    

<title>展会概况</title>

 <link href="../css/exhibition.css" type="text/css" rel="stylesheet" />
<link href="../css/ex_onInfo.css" type="text/css" rel="stylesheet" />
 
<script type="text/javascript" src="js/a.js" language="javascript" async="async"></script>
</head>

<body>
<div><!--logo--><img src="../img/a.gif" /></div>
<div class="block"></div>
<div class="title_info">
    <hr/>
    <div class="ex_info_title">展会概况<span>Show OverView</span></div>
    <hr/>
</div>  

<!--  正文  -->
  
<div class="ex_info_exampleimg"><img src="../img/ex_info_example.png" /></div>
<div><span>展会名称：</span>2015南昌国际珠宝展览会</div>
<div><span>展会日期：</span>2015/8/30</div>
<div><span>展会地点：</span>上海市延安中路1000号2164室</div>
<div><span>展会场馆：</span>上海展览中心</div>
<div><p>2015第十六届北京（秋季）珠宝玉石首饰展览会&rdquo;展现您特有的高端产品，绽放出最美的智慧、最精湛的制工艺，旨在提升行业质优产品的知名度和美誉度，扩大国内外珠宝玉石首饰的销售市场，帮助我国珠宝玉石首饰企业明晰行业发展趋势，把握市场走向，提高在国内乃至国际市场的竞争力。很多人都知道，历史名城北京为首，京都之内珍宝齐聚，众多珠宝集散地遍布全城：潘家园翡翠首饰、北京古玩城、京港国际珠宝城、北京天然珠宝一厅、北京国际珠宝交易中心、新街口珠宝城，望京等，规模庞大，尽显实力。</p></div>
<div><span>主办方：</span>南昌昱丰会展服务有限公司</div>
<div><span>承办方：</span>上海展览中心</div>
<div class="block"></div>
</body>
</html>
