<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,user-scalable=no" name="viewport" />
<meta name="viewport"  
      content="  
        height = [pixel_value | device-height] ,  
        width = [pixel_value | device-width ] ,  
        initial-scale = 0.5,  
        minimum-scale = float_value ,  
          
        user-scalable = yes ,  
      "  
        
    />   
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no" name="viewport"/>
<!-- Mobile Devices Support @begin -->
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type"/>
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control"/>
<meta content="no-cache" http-equiv="pragma"/>
<meta content="0" http-equiv="expires"/>
<meta content="telephone=no, address=no" name="format-detection"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />    
<title>展会攻略</title>


<link href="../css/exhibition.css" type="text/css" rel="stylesheet" />
<link href="../css/ex_guide.css" type="text/css" rel="stylesheet" />


<script type="text/javascript" src="js/a.js" language="javascript" async="async"></script>

</head>


<body>

<div><!--logo--><img src="../img/a.gif" /></div>
<div class="block"></div>
<div class="title_info">
    <hr/>
    <div class="ex_info_title">展会攻略<span>Exhibition Guide</span></div>
    <hr/>
</div>    
<div class="up"></div>
<div class="ex_info"><img src="../img/ex_guide.png"/></div>
<div><p>展馆位于北京市东三环北路农展桥东侧，地理位置优越，有京都“龙眼”宝地之说，可谓“风水好、有灵气”；交通十分便利，四通八达，没有其他展览场馆普遍存在的“交通管制”。从馆区开车到北京国际机场，只需20分钟。展览馆地处首都繁华的国际商贸区，与外交使馆一路之隔。农展馆周围2公里内坐落长城饭店、昆仑饭店和燕莎友谊商城等星级饭店、商务写字楼和健身中心就达200多家，是北京经济增长最快的地带，食宿十分方便。独特的社区环境和良好社会声誉，使在农展馆举办的各种展览经常是中外客商聚集，热闹非凡，效益极为显著。如八十年代全国服装展览，每天接待达观众10万人，其观众流量创历史记录。在中国汽车市场异常冷清九十年代初，农展馆汽车自选市场却空前火爆，轰动京城，闻名全国，现货严重不足，使主办单位始料不及，一度陷入被动。</p></div>


</body>
</html>
