<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:p="http://www.springframework.org/schema/p"
	 xmlns:mvc="http://www.springframework.org/schema/mvc" 
	 xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	 xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd"
	>
 <!-- 扫描器已经有了上面这个mvc注解驱动的功能了，所有不需要了 -->
 <context:component-scan base-package="com.tonghang.web" />
 <!-- 前缀+ viewName +后缀 -->
<!--  <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean"> -->
<!--     <property name="favorPathExtension" value="true" /> -->
<!--     <property name="ignoreAcceptHeader" value="false" /> -->
<!--     <property name="mediaTypes" > -->
<!--         <value> -->
<!--             json=application/json -->
<!--             xml=application/xml -->
<!--         </value> -->
<!--     </property> -->
<!-- </bean> -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >
		<property name="messageConverters">
			<list>
<!-- 				<bean class="org.springframework.http.converter.StringHttpMessageConverter"> -->
<!-- 					<property name="supportedMediaTypes"> -->
<!-- 						<list> -->
<!-- 							<value>text/plain;charset=UTF-8</value> -->
<!-- 						</list> -->
<!-- 					</property> -->
<!-- 				</bean> -->
				<bean class="org.springframework.http.converter.json.GsonHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>					
				</bean>
<!-- 				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> -->
<!-- 					<property name="supportedMediaTypes"> -->
<!-- 						<list> -->
<!-- 							<value>application/json;charset=UTF-8</value> -->
<!-- 						</list> -->
<!-- 					</property>					 -->
<!-- 				</bean>			 -->
<!-- 				<bean class="org.springframework.http.converter.FormHttpMessageConverter"> -->
<!-- 					<property name="supportedMediaTypes"> -->
<!-- 						<list> -->
<!-- 							<value>application/x-www-form-urlencoded;charset=UTF-8</value> -->
<!-- 						</list> -->
<!-- 					</property>					 -->
<!-- 				</bean> -->
<!-- 				<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/> -->
<!-- 				<bean class="org.springframework.http.converter.ResourceHttpMessageConverter"/> -->
			</list>
		</property>
	</bean>
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="-1"/>
		<property name="defaultEncoding" value="utf-8"/>
	</bean>
 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 	 <!-- webroot到某一指定的文件夹的路径 -->
	 <property name="prefix" value="/WEB-INF/jsp/"></property>
 	 <!-- 视图名称的后缀 -->
	 <property name="suffix" value=".jsp"></property>
 </bean> 
<!-- 支持  @Transactional 标记 -->  
    <tx:annotation-driven transaction-manager="transactionManager"/>  
    <!-- 定义事务管理器 -->    
    <bean id="transactionManager"  
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory" />  
    </bean>	
    
     <!--  缓存  属性-->
	<bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">    
        <property name="configLocation"  value="classpath:ehcache.xml"/>   
    </bean>   
      
    <!-- 支持缓存注解 -->  
    <cache:annotation-driven cache-manager="cacheManager" />  
      
    <!-- 默认是cacheManager -->  
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">    
        <property name="cacheManager"  ref="cacheManagerFactory"/>    
    </bean> 
    
</beans>
