/*展商信息相关样式*/
.ex_orInfo{ 
	margin: 1em 1em 1em 1em; 
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #2098d0; 
	color: white; 
	text-align:center;  
	overflow: hidden;
	border-radius: 0.2em;
}



